html {
    height:100%;
}
body {
    min-height: 100%;
    margin:0;
    background: black
}
.navBar {
    background:#707070;
    height:3em;
    margin-left:1em;
    margin-right: 1em;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    color:white;
}
.logo {
    text-transform: uppercase;
    font-size:1.6em;
    font-family: 'Muli', sans-serif;
    
}
.navButtons {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    margin-right: 2em;
}
.title {
    background: #000000;
    height:14.4em;
    color: #E9E05F;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    text-transform: uppercase;
    font-size:1.4em;
    font-family: 'Muli', sans-serif;
    font-weight: bold
}
.triple {
    background: white;
    height: 15em;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.triple1 {
    background: #A4FFD7;
    height: 10em;
    width: 10em;
    border-radius: 10%;
}
.triple2 {
    background: #A4FFD7;
    height: 10em;
    width: 10em;
    border-radius: 10%;
}
.triple3 {
    background: #A4FFD7;
    height: 10em;
    width: 10em;
    border-radius: 10%;
}
.double {
    background: grey;
    height: 100px;
}
.textPic {
    background: lightslategray;
    height: 100px;
}
.footer{
    background: lightgray;
    height: 100px;
}
.double1 {
    background: #FFC36C;
    height: 50px;
}
.double2 {
    background: #FFC36C;
    height: 50px;
}
.footer {
    background: #3A3A56;
    height:50px;
}